<script src='/assets/spin.min.js'></script>
<script src='/assets/jQueryRotate.js'></script>

<div id='loading-div'><div id='location-error'></div></div>
<div id='loading'></div>
<div id='top-div' class='top-div'></div>

<div class='name-div'>
    <div class='text-center'>
        <b><h8><%= @friend_name %></h8></b>
    </div>
</div><div class='distance-div'>
    <div class='text-center'>
        <%= image_tag('distance_icon.png', :style => 'margin-top: -3%;')%><h9 id='distance'></h9> <%= image_tag('distance_icon.png', :style => 'margin-top: -3%;', :class => 'col-xs-offset-1')%> <h9 id='hours'></h9>
    </div>
</div>
<div id='arrow-div' class='arrow-div text-center'>
    <%= image_tag('UP_ARROW_half.png', :id => 'arrow')%>
</div>
<div class='col-xs-6 footer-left-div text-center' onclick='redirect("arrows/<%= @current_user_id %>")'>
    <div class='inner-footer'>
        <%= image_tag('x.png')%>
    </div>
</div>
<div id='right-footer' class='col-xs-6 footer-right-div text-center' onclick='toMap()'>
    <div class='inner-footer'>
        <%= image_tag('globe.png', :id => 'right-footer-image') %>
    </div>
</div>
<script>
    initShow("<%= @friend_id %>", "<%= @current_user_id %>", "<%= Rails.application.secrets.mobile_api_key %>", "<%= @deathtime %>");
</script>
<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=<%= Rails.application.secrets.google_maps_key %>">
</script>
