<html>
    <head>
        <link href='https://fonts.googleapis.com/css?family=Nunito:400,700,300' rel='stylesheet' type='text/css'>
    </head>
    <body>
        <div id='loading'>
            <div class='container text-center'><h9>Loading greatness...</h9></div>
        </div>
        <div id='top-div' class='top-div'></div><div class='name-div'>
            <div class='text-center'>
                <b><h8><%= @friend_name %></h8></b>
            </div>
        </div><div class='distance-div'>
            <div class='text-center'>
                <img src='/assets/distance_icon' style='margin-top: -3%;'><h9 id='distance'></h9> <img src='/assets/time_icon' class='col-xs-offset-1' style='margin-top: -3%;'> <h9 id='hours'></h9>
            </div>
        </div>
        <div id='arrow-div' class='arrow-div text-center'>
            <img id='arrow' src='/assets/UP_ARROW_half.png'>
        </div>
        <div class='col-xs-6 footer-left-div text-center' onclick='redirect("arrows/<%= @current_user_id %>")'>
            <div class='inner-footer'>
                <img src='/assets/x.png'>
            </div>
        </div>
        <div id='right-footer' class='col-xs-6 footer-right-div text-center' onclick='toMap()'>
            <div class='inner-footer'>
                <img id='right-footer-image' src='/assets/globe.png'>
            </div>
        </div>
        <script>
            initShow("<%= @friend_id %>", "<%= @current_user_id %>", "<%= Rails.application.secrets.mobile_api_key %>", "<%= @deathtime %>");
        </script>
        <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=<%= Rails.application.secrets.google_maps_key %>">
        </script>
    </body>
</html>
