<link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

<script>
    $(document).ready(function(){
        initWelcome('<%= Rails.application.secrets.google_scripts_clientID %>', '<%= Rails.application.secrets.google_scriptID %>');
    });
</script>
<script src="https://apis.google.com/js/client.js?onload=checkAuth">
</script>

    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">Archer</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" href="#about">About</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#features">Features</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <header>
        <div class="header-content">
            <div class="header-content-inner">
                <div class="col-lg-6 col-md-6">
                    <%= image_tag('iPhone_arrow_screen.png') %>
                </div>
                <div class="col-lg-6 col-md-6">
                    <h1>Follow your arrow</h1>
                    <hr>
                    <p>Archer is the easiest way to find someone (or something) you know is nearby. Whether you're looking for a friend at the park, or a store at the mall, we'll lead you there.</p>
                    <p class='col-md-5 col-lg-5 col-sm-5 col-xs-5'>Be the first to try the app:</p>
                    <div class='col-md-7 col-lg-7 col-sm-7 col-xs-7'>
                      <div class="form-group register-form">
                        <input type="email" class="form-control" id="email" name="email" placeholder="Email address..."><br>
                        <div class="text-center">
                      <label class="radio-inline"><input type="radio" name="iOS_select" id="iOS_select">iOS</label>
                      <label class="radio-inline"><input type="radio" name="android_select" id="android_select">Android</label>
                      </div>
                      <br>
                      <button type="submit" class="btn btn-primary btn-block" onclick='addEmail()'>Register</button>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <section class="bg-primary" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Navigation for nearby</h2>
                    <hr class="light">
                    <p>Maps, street directions, bus routes? When the destination is nearby these things just don't make sense! Archer is an easier way to navigate the last 100 yards. Like a compass always points North, Archer always points to a destination. Keep scrolling for a closer look.</p>
                </div>
            </div>
        </div>
    </section>

    <section id="features">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Features</h2>
                    <hr class="primary">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 text-center">
                    <div class="service-box">
                        <%= image_tag('navigation_phone_600.png', :class => 'wow bounceIn text-primary', :width => 225, :height => 463) %>
                        <p class="text-muted">Navigate to nearby friends using arrows</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 text-center">
                    <div class="service-box">
                        <%= image_tag('confirm_phone_screen.png', :class => 'wow bounceIn text-primary', :width => 225, :height => 463) %>
                        <p class="text-muted">Send an arrow to anyone in your contacts, even if they don't have the app</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 text-center">
                    <div class="service-box">
                        <%= image_tag('iPhone_home_screen.png', :class => 'wow bounceIn text-primary', :width => 225, :height => 463) %>
                        <p class="text-muted">Manage new and currently running arrows</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="contact">
        <aside class="bg-dark">
            <div class="container text-center">
                <div class="call-to-action">
                    <h2>Download our mobile app on iOS or Android!</h2>
                    <a id='download' href="#" class="btn btn-default btn-xl wow tada page-scroll">Download</a>
                </div>
            </div>
        </aside>
        <p></p>
        <p></p>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Get In Touch</h2>
                    <hr class="primary">
                    <p>Have any feedback? We want to hear it! Email us anytime and we'll respond ASAP.</p>
                </div>
                <div class="col-lg-12 text-center">
                    <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                    <p><a href="mailto:hi@archerapp.com">hi@archerapp.com</a></p>
                </div>
            </div>
        </div>
    </section>
    
<script src='/javascripts/cbpAnimatedHeader.js'></script>
<script src='/javascripts/jquery.easing.min.js'></script>
<script src='/javascripts/jquery.fittext.js'></script>
<script src='/javascripts/classie.js'></script>
<script src='/javascripts/wow.min.js'></script>
<script src='/javascripts/creative.js'></script>


